{% extends 'base.html' %}
{% block content %}
<div onclick="document.getElementById('nav').style.display='block'; document.getElementById('nav').style.background='{{background_color}}';" class='navigation'></div>
<div class='page'>
    {% if half == 2 %}
        <img class='page page2' src='/page/{{yacreader.id}}/{{page}}'>
    {% else %}
        <img class='page page1' src='/page/{{yacreader.id}}/{{page}}'>
    {% endif %}
    {% if previous_page_url is none %}
    {% else %}
        <a href='{{previous_page_url}}'><div class='page back'></div></a>
    {% endif %}
    {% if next_page_url is none %}
    {% else %}
        <a href='{{next_page_url}}'><div class='page next'></div></a>
    {% endif %}
</div>
<div id='nav' class='navigation' style='display:none' onclick="document.getElementById('nav').style.display='none'">
    {% include 'nav.html' %}
    <div>(page&nbsp;{{page}}&nbsp;of&nbsp;{{page_count}})</div>
</div>
{% endblock %}
