# Edit this file and copy it to $HOME/yyreader.conf

[default]
# Location of the cache file
cache_file = /tmp/yyreader.cache
# Smallest file size to consider a comic, in MB
minimum_file_size = 5

# Location of the 'rar' utility
rar = /usr/local/bin/rar
# Location of the 'unzip' system utility.
unzip = /usr/bin/unzip
# Location of the 'zip' system utility.
zip = /usr/bin/zip

# Where the comics ultimately want to live
comic_dir = /Volumes/Media/Comics

# Where to move files that already exist in comic_dir
existing_dir = /tmp/existing

# Files larger than this won't be imported.  Can be overridden by passing '--large' on the command line.
maximum_file_size = 100

# Publishers to skip when considering possible matches
skip_publishers = [ 'Panini Comics' ]

# File in which the 'scan' action can store a list comics that are "missing"
scan_log = /tmp/scan_log.txt

[comicvine]
# https://comicvine.gamespot.com/api/
api_key = XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

[server]
# listening port
port = 8616

# enable debugging mode on the flask server
debug = False

# Set this value to require password access
#password = 

# If this value is set, requests from any other ip will return a 400 error
#allow_ip =

[reader]
overlap_percent = 5
