{% extends 'base.html' %}
{% block content %}
<div class='w3-center'>
    <div onclick="readnav_open();" class='readnav'></div>
    <div class='page'>
        {% if half == 2 %}
            <img class='page page2' src='/page/{{yacreader.id}}/{{page}}?crop={{crop}}'>
        {% else %}
            <img class='page page1' src='/page/{{yacreader.id}}/{{page}}?crop={{crop}}'>
        {% endif %}
        {% if previous_page_url is not none %}
            <a href='{{previous_page_url}}'><div class='page back'></div></a>
        {% endif %}
    {% if next_page_url is not none %}
        <a href='{{next_page_url}}'><div class='page next'></div></a>
    {% endif %}
    </div>
    <div id='readnav' class='readnav' style='display:none' onclick="readnav_close();">
        <div>
            <a class='w3-button' href='{{nav.back.url}}'>&lArr;&nbsp;{{nav.back.text}}</a>
            {% if nav.home is defined %}<a class='w3-button' href='{{nav.home.url}}'>&uArr;&nbsp;{{nav.home.text}}</a>{% endif %}
            <a class='w3-button' href='{{nav.forth.url}}'>{{nav.forth.text}}&nbsp;&rArr;</a>
        </div>
        <div>
            <a href='{{nav.up.url}}'>{{nav.up.text}}</a>
            (page&nbsp;{{page}}&nbsp;of&nbsp;{{page_count}})
        </div>
        {# TODO: Pass the cropped and uncropped image sizes so I can indicate whether the image has been altered from the original.
              Sometimes it appears to have been cropped, but hasn't, and hitting the link and trying to eyeball the difference is
              annoying.  Also, when you hit a button and nothing happens, that's a bad design: if nothing's *supposed* to happen, then
              dont' include the button at all.
        #}
        <div>
            <select id=traversal onchange="document.location='/traverse/' + document.getElementById('traversal').value + '/{{yacreader.id}}'">
                <option value='date' {% if traversal == 'date' %}selected{% endif %}>By Date</option>
                <option value='volume' {% if traversal == 'volume' %}selected{% endif %}>By Volume</option>
            </select>
            <a class='w3-button' href='/settings/crop/{{crop}}/{{yacreader.id}}'>Crop {% if crop is true %}On{% else %}Off{% endif %}</a>
            <a class='w3-button' href='/link/{{yacreader.id}}'>{% if linked is true %}Unlink{% else %}Link{% endif %}</a>
        </div>
    </div>
</div>
{% endblock %}
