<div class='w3-bar'>
    {% if nav.back is defined and nav.back is not none %}
        <a class='w3-button' href='{{nav.back.url}}'>&lArr;&nbsp;{{nav.back.text}}</a>
    {% endif %}
    {% if nav.up is defined and nav.up is not none %}
        <a class='w3-button' href='{{nav.up.url}}'>&uArr;&nbsp;{{nav.up.text}}</a>
    {% endif %}
    {% if nav.forth is defined and nav.forth is not none %}
        <a class='w3-button' href='{{nav.forth.url}}'>{{nav.forth.text}}&nbsp;&rArr;</a>
    {% endif %}
    {% if nav.view is defined and nav.view is not none %}
        <a class='w3-button' href='{{nav.view.url}}'>{{nav.view.text}}</a>
    {% endif %}
    <a class='w3-button' href='/history'>History</a>
</div>
