{% extends 'base.html' %}
{% block content %}
<div onclick="document.getElementById('nav').style.display='block'; document.getElementById('nav').style.background='{{background_color}}';" class='navigation'></div>
<div class='page'>
    {% if half == 2 %}
        <img class='page page2' src='/page/{{yacreader.id}}/{{page}}'>
    {% else %}
        <img class='page page1' src='/page/{{yacreader.id}}/{{page}}'>
    {% endif %}
    {% if previous_page_url is none %}
    {% else %}
        <a href='{{previous_page_url}}'><div class='page back'></div></a>
    {% endif %}
    {% if next_page_url is none %}
    {% else %}
        <a href='{{next_page_url}}'><div class='page next'></div></a>
    {% endif %}
</div>
<div id='nav' class='navigation' style='display:none' onclick="document.getElementById('nav').style.display='none'">
    <div class='w3-center w3-padding-16'>
        <a href='{{nav.back.url}}'>&lArr;&nbsp;{{nav.back.text}}</a>
        {% if nav.up is not none %}
            <a href='{{nav.up.url}}'>&uArr;&nbsp;{{nav.up.text}}</a>
        {% endif %}
        <a href='/byvolume/{{yacreader.volume}}#{{yacreader.id}}'>{{yacreader.volume}}</a> #{{yacreader.issue}} (page&nbsp;{{page}}&nbsp;of&nbsp;{{page_count}})
        {% if datelink != nav.back.url %}
            <a href='{{datelink}}'>{{yacreader.date.strftime("%m/%d/%Y")}}</a>
        {% else %}
            {{yacreader.date.strftime("%m/%d/%Y")}}
        {% endif %}
    </div>
</div>
{% endblock %}
