{% extends 'base.html' %}
{% block content %}
<map name='pageturner'>
{% if previous_page_url is none %}
{% else %}
    <area shape='rect' coords='0,0,{{img.half_width}},{{img.height}}' href='{{previous_page_url}}'>
{% endif %}
{% if next_page_url is none %}
{% else %}
    <area shape='rect' coords='{{img.half_width}},0,{{img.width}},{{img.height}}' href='{{next_page_url}}'>
{% endif %}
</map>
<div class=w3-panel>
    <a href='/byvolume/{{yacreader.volume}}'>{{yacreader.volume}}</a> #{{yacreader.issue}} (page {{page}} of {{page_count}})
</div>
<img src='/page/{{yacreader.id}}/{{page}}' height='{{img.height}}' width='{{img.width}}' usemap=#pageturner>
{#}<tr>
    <td colspan=3>{{data_dir}}</td>
</tr>{#}
{% endblock %}
